script(src="./javascripts/libs/jquery/dist/jquery.min.js")
script(src="./javascripts/libs/underscore/underscore-min.js")
script(src="./javascripts/libs/backbone/backbone-min.js")
script(src="./javascripts/libs/bootstrap/dist/js/bootstrap.min.js")

script(src="./javascripts/script.js")